html{
    background-color: black
   
}
body{
    margin: 10 auto;
    background-color: #00539F;
}
h2{
    margin: 0;
    padding: 20x 0px;
   text-align: center;
}
h3{
    margin: 0;
    padding: 0 0;
}